@model SystemEntities.Models.AssetItemDetail




<tr>
    <td>@Html.DisplayFor(m => m.ItemId, new { @class = "form-control" })</td>
    <td>@Html.DisplayFor(m => m.ItemDescription, new { @class = "form-control" })</td>
    <td>@Html.DisplayFor(m => m.PartNumber, new { @class = "form-control" })</td>
    <td>@Html.DisplayFor(m => m.SerialNumber, new { @class = "form-control" })</td>
    <td>@Html.DisplayFor(m => m.ItemKeyDetail, new { @class = "form-control" })</td>
    <td>@Html.DisplayFor(m => m.ControlNumber, new { @class = "form-control" })</td>
    <td>@Html.DisplayFor(m => m.ItemRemarks, new { @class = "form-control" })</td>

    <td>
        @if (Model.Status == "OnUsed")
        {
            @Html.ActionLink("OnUsed", "ItemHistory","AssetItem", new { Id = Model.Id },null)
        }
        else
        {
            @Html.DisplayFor(m => m.Status, new { @class = "form-control" })
        }
    </td>
    <td></td>
</tr>




