
@model SystemEntities.Models.AssetHeaderDetails
@{
    Layout = null;
    ViewBag.Title = "Asset Report 1";
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
</head>

<div class="row">
    <div class="col-xs-4">
        <img src="@String.Format("{0}{1}.jpg",@Server.MapPath("~/ICONS/"),Model.Company.Code)" />

    </div>
    <div class="col-xs-8">
        <h2>Asset Detail Report</h2>
        as of <u> @DateTime.Now</u>
    </div>
</div>





<center>


</center>

@*@Styles.Render("~/Content/ReportCss")*@



<link href="@Server.MapPath( "~/Content/bootstrap.css")" rel="stylesheet" />
<link href="@Server.MapPath("~/Content/MyStyleSheetReport.css")" rel="stylesheet" />


<div class="row">
    <div class="col-lg-12 ">
        <div class="row rowWithMargin">
            <div class="panel panel-default">
                <div class="panel-heading">Asset Details</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-6 col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col-xs-2 col-md-2 col-lg-2 divNoPaddingRight">
                                    @Html.Label("Asset Number:")
                                </div>
                                <div class="col-xs-10 col-md-10 col-lg-10 divNoPaddingLeft">
                                    @Html.DisplayFor(m => m.AssetNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-3 col-md-3 col-lg-3 divNoPaddingRight">
                                    @Html.Label("Company")
                                </div>
                                <div class="col-xs-9 col-md-9 col-lg-9 divNoPaddingLeft">
                                    @Html.DisplayFor(m => m.Company.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>


                    </div>
                    <hr />
                    <div class="row">
                        @*<div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-3">
                                        @Html.Label("Company:")
                                    </div>
                                    <div class="col-xs-9 ">
                                        @Html.DisplayFor(m => m.CompanyDetails.Name, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>*@


                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-5">
                                    @Html.Label("Description: ")

                                </div>
                                <div class="col-xs-7">

                                    @Html.DisplayFor(m => m.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.Label("Current Value:")
                                </div>
                                <div class="col-xs-9" style="word-wrap:break-word;">
                                    @Html.DisplayFor(m => m.DepreciatedValue, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-4">
                                    @Html.Label("Remarks:")
                                </div>
                                <div class="col-xs-8" style="word-wrap:break-word;">
                                    @Html.DisplayFor(m => m.AssetRemarks, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-4">
                                    @Html.Label("Warranty Yrs:")
                                </div>
                                <div class="col-xs-8">
                                    @Html.DisplayFor(m => m.WarrantyYears, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Supplier Details</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.Label("Name:")
                                </div>
                                <div class="col-xs-9">
                                    @Html.DisplayFor(m => m.InvoiceDetails.SupplierDetails.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.Label("Address:")
                                </div>
                                <div class="col-xs-9">
                                    @Html.DisplayFor(m => m.InvoiceDetails.SupplierDetails.Address, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.Label("Contact: ")
                                </div>
                                <div class="col-xs-9">
                                    @Html.DisplayFor(m => m.InvoiceDetails.SupplierDetails.ContactNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">
                            <div class="row">
                                <div class="col-xs-6">
                                    @Html.Label("Email-Address:")
                                </div>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(m => m.InvoiceDetails.SupplierDetails.EmailAdd, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row rowWithMargin">
            <div class="panel panel-default">
                <div class="panel-heading">Invoice Detail</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">
                            <div class="row">
                                <div class="col-xs-4">
                                    @Html.Label("Invoice #:")
                                </div>
                                <div class="col-xs-8">
                                    @Html.DisplayFor(m => m.InvoiceDetails.InvoiceNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="row">
                                <div class="col-xs-3">

                                    @Html.Label("Amount:")
                                </div>
                                <div class="col-xs-9">
                                    @Html.DisplayFor(m => m.Price, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-xs-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.Label("Purchase Date")
                                </div>
                                <div class="col-xs-9">

                                    @Html.DisplayFor(x => x.PurchaseDate)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row rowWithMargin">
            <div class="panel panel-default">
                <div class="panel-heading">Asset Details</div>
                <div class="panel-body">
                    <table class="table" id="assetDetails">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Description</th>
                                <th>Serial Number</th>
                                <th>Part Number</th>
                                <th>Key Detail</th>
                                <th> Remarks</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AssetItemDetails != null)
                            {
                                foreach (var item in Model.AssetItemDetails)
                                {
                                    @Html.Partial("AssetModelReadOnlyRows", item)
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </div>
</div>
<br />
<br />
<br />
<br />
<br />


